<div class="main-stories row">
  <div class="col-xs-12 col-md-7">
    <h2>Childish Gambino's "Redbone" live performance</h2>
  </div>
  <div class="col-xs-12 col-md-5">
    <div class="col-xs-6 col-md-12">
      <h2>Andre 3000 is at it again on Cudi's new album</h2>
    </div>
    <div class="col-xs-6 col-md-12">
      <h2>J. Cole - 4 Your Eyez Only (Album Review)</h2>
    </div>
  </div>
</div>

<div class="other-stories row">
  <div ng-repeat="story in stories.otherStories" class="col-xs-6 col-md-4">
    <div style="background-image: url({{story.image}});" class="col-xs-12"></div>
    <h2 class="col-xs-12">{{story.header}}</h2>
  </div>
</div>
